* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', monospace;
  background: #0c0f1c;
  color: #ffffff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0c0f1c;
}

::-webkit-scrollbar-thumb {
  background: #00ffcc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ddaa;
}
